body {
    background-color: lightgrey;
}

.result {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 150%;
    background-color: #96C5DE;
    border: 3px solid;
    padding: 10px 10px 10px 10px;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 5%
}

.body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 150%;
    background-color: #96C5DE;
    border: 3px solid;
    padding: 50px 50px 50px 50px;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.submit {
    font-size: 100%;
}

.Minutes {
    font-size: 100%
}